/* .box-container {
    margin: 20% 0;
}

span {
    font-size: 40px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

    span.github {
        font-family: monaco, Consolas, "Lucida Console", monospace;
        font-weight: 200;
        font-style: normal;
    }
    span.search {
        font-family: Raleway;
        font-weight: 200;
        font-style: italic;
    }

.input-text {
    width: 85%;
    height: 30px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border: none;
    border-radius: 1px;
    padding: 0 0 0 5px;
}

.button-searchInicial {
    width: 400%;
    height: 30px;
    background-color: #ac53f2;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}
    .button-searchInicial img {
        width: 20px;
    } */
