span {
    font-size: 35px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

    span.github {
        font-family: monaco, Consolas, "Lucida Console", monospace;
        font-weight: normal;
        font-style: normal;
        margin-left: 13%
    }
    span.search {
        font-family: Raleway;
        font-weight: 200;
        font-style: italic;
    }

.input-text {
    width: 85%;
    height: 30px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border: none;
    border-radius: 1px;
    padding: 0 0 0 5px;
}

.button-search {
    width: 7%;
    height: 30px;
    background-color: #ac53f2;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}
    .button-search img {
        width: 20px;
    }

.text, .search {
    margin: 45px 0;
    line-height: 30px
}

.textCol {
    
}